.admin-container
{
    background-color: #000000;
    background-size: cover;
    position: relative;
    /* width: 1440px; */
    height: 100vh;
}

.admin-left {
    position: absolute;
    width: 440px;
    height: 82vh;
    left: 30px;
    top: 44px;

    background: #0D0D12;
    border-radius: 15px;
}

.admin-left img {
    position: absolute;
    width: 248px;
    height: 52px;
    left: 40px;
    top: 44px;
}

.Nlogo {
    background: url('../images/login/logonexus.png');
}

.profile-logo img {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 340px;
    top: 40px;
    border-radius: 50px;
    cursor: pointer;
    /* background-color: aquamarine; */
}

.AdminPic {
    background: url('../images/login/Ellipse.png');
}

.des h3 {
    position: absolute;
    width: 247px;
    height: 33px;
    left: 66px;
    top: 140px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
}


.pen-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 300px;
    top: 144.88px;
    color: rgb(236, 236, 56);
}

.option-div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    width: 400px;
    position: absolute;
    left: 0px;
    top: 135px;
    margin-left: 20px;
}

.option-div .home {
    width: 100px;
    height: 100px;
    min-height: 110px;
    min-width: 110px;
    padding: 10px 10px;
    /* border: 1px solid #FFFFFF; */
    border-radius: 10px;
    margin: 60px 0;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #2B2B40;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
}

.option-div .home h3 {
    position: absolute;
    width: 39px;
    height: 20px;
    left: 25px;
    top: 47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.heading-div
{
    position: absolute;
    width: 830px;
    height: 90px;
    left: 500px;
    top: 50px;
    background: #2D2F31;
    border-radius: 15px;
}

.heading-div h3
{
    position: absolute;
    width: 415px;
    height: 40px;
    left: 20px;
    top: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 48px;
    color: #FFFFFF;
}

.heading-div span
{
    position: absolute;
    width: 248px;
    height: 23px;
    left: 20px;
    top: 60px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #FFFFFF;
}

.heading-div .create
{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 635px;
    top: 25px;
    color: #FFFFFF;
    font-size: 17px;
    border: 1px solid #FFFFFF;
    background: #066BDE;
    border-radius: 10px;
    cursor: pointer;
}

.main-container
{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    flex-wrap: wrap;
    width: 800px;
    position: absolute;
    left: 490px;
    top: 70px;
    margin-left: 20px;
}

.main-container .div1
{
    width: 380px;
    height: 202px;
    min-height: 200px;
    min-width: 380px;
    padding: 10px 10px;
    /* border: 1px solid #FFFFFF; */
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #2B2B40;
}

.main-container .div1 h3
{
    position: absolute;
    width: 314px;
    height: 36px;
    left: 70px;
    top: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 36px;

    color: #FFFFFF;
}

.main-container .div1 h4
{
    position: absolute;
    width: 115px;
    height: 30px;
    left: 135px;
    top: 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.main-container .div1 p
{
    position: absolute;
    width: 224px;
    height: 42px;
    left: 36px;
    top: 94px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}


.main-container .div1 .file
{
    width: 49px;
    height: 72.71px;
    /* background: #066DE3; */
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #066BDE;
    position: absolute;
    top: 75px;
    left: 300px;
    cursor: pointer;
}

.main-container .div1 span
{
    position: absolute;
    width: 190px;
    height: 25px;
    left: 45px;
    top: 158px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #C2B7B7;
}

.main-container .div1 .eye
{
    position: absolute;
    width: 33px;
    height: 20px;
    left: 308px;
    top: 160px;
    background: #4E4E51;
    border-radius: 7px;
    cursor: pointer;
}

.main-container .sample
{
    position: absolute;
    width: 120px;
    height: 48px;
    background: yellowgreen;
    border-radius: 9px;
}



/* Dropdown Menu */

.dropDownProfile
{
    position: absolute;
    top: 120px;
    right: 1.5rem;
    width: 280px;
    height: 290px;
    padding: 20px;
    padding-left: 5px;
    border-radius: 15px;
    background-color: #2B2B40;
    border: 1px solid gray;
    font-size: 23px;
    
}

.dropDownProfile::before
{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #2B2B40;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.dropDownProfile ul li
{
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    color: #C2B7B7;
    padding-top: 15px;
}

.dropDownProfile ul li:hover
{
    color: #066BDE;
}

.dropDownProfile ul .line1
{
    height: 1px;
    background: #4E4E51;
}







