

.container {
    height: 140vh;
    margin: 0;
    width: 100%;
    background-image: url('../images/login/Dark\ Slide.png');
    text-align: center;
    background-position: center;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}



.logo {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 90px;
    left: 100px;
    top: 467px;
    background: url("../images/login/image\ 50.png");
    border: 1px solid #000000;
}

.form {
    position:  absolute;
    width: 550px;
    height: 550px;
    left: 790px;
    top: 237px;
    background: #1B1B29;
    border-radius: 20px;
}

.form h4 {
    position: absolute;
    width: 258px;
    height: 0px;
    left: 166px;
    top: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.form .email input{
    position: absolute;
    width: 430px;
    height: 60px;
    left: 55px;
    top: 170px;
    border-radius: 10px;
    font-size: 23px;
    background: transparent;
}



.form .password input{
    position: absolute;
    width: 430px;
    height: 60px;
    left: 55px;
    top: 260px;
    border-radius: 10px;
    font-size: 23px;
    background: transparent;
}

.form button {
    position: absolute;
    width: 430px;
    height: 60px;
    left: 58px;
    top: 400px;
    border-radius: 10px;
    font-size: 23px;
    background-color: #066DE3;
    color: #fff;
}


.forget{
    position: absolute;
    top: 330px;
    left: 315px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: #066DE3;
    line-height: 24px;
    /* font-family: 'Poppins'; */
    letter-spacing: 0.02rem;
    /* width: 156.7px; */
}
